*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #333333;
    background-image:url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100%;
}

html {
  height: 100%;
}

.logo{
    float: left;
}

.navbutton {
	float: right; 
	text-align: center; 
	text-decoration: none; 
	display: block; 
	padding: 25px 25px;
}

a.nav:link {
	text-decoration: none;
	color: #ffffff;
}

a.nav:visited {
	text-decoration: none;
	color: #ffffff;
}

a.nav:hover {
	text-decoration: none;
	color: #bfbfbf;
}

a.nav:active {
	text-decoration: none;
	color: #ffffff;
}

a:link {
	color: #3F47CC;
}

a:visited {
	color: #3F47CC;
}

a:hover {
	color: #01A2E8;
}

a:active {
	color: #3F47CC;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background: #000000;
}

.header::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}



p{
    color: #ffffff;
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6{
    color: #ffffff;
    margin-bottom: 10px;
}

a:-webkit-any-link {
    color: #ADD8E6;
    cursor: pointer;
    text-decoration: underline;
}

ul{
	overflow: hidden; 
	list-style-type: none;
	margin: 0; 
	padding: 0;
    color: #ffffff;
}

ol{
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 20px;
}

img{
    display: block;
}

.content{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
}

.article{
    background: #000000;
    padding: 20px; 
    opacity: 0.9;
}

.clearfix::after{
    content: " ";
    clear: both;
    display: block;
    visibility: none;
}

.footer{
    clear: both;
    background: #000000;
    text-align: center;
    padding: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}