@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply overflow-hidden m-0 p-0;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #ffffff;
  background-image: url('/background.png');
  background-repeat: repeat;
  background-size: cover;
}

.nav-ul {
  @apply overflow-hidden list-none m-0 p-0;
}

html {
  @apply min-h-screen;
}

.logo {
  @apply float-left text-center block p-0;
}

.nav-button {
  @apply float-right text-center block p-5;
}

a.nav:link {
  @apply no-underline;
  color: #ffffff;
}

a.nav:visited {
  @apply no-underline;
  color: #ffffff;
}

a.nav:hover {
  @apply no-underline;
  color: #bfbfbf;
}

a.nav:active {
  @apply no-underline;
  color: #ffffff;
}

a:link {
  color: #3F47CC;
}

a:visited {
  color: #3F47CC;
}

a:hover {
  color: #01A2E8;
}

a:active {
  color: #3F47CC;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  @apply bg-black font-bold;
}

.header::after {
  @apply invisible;
  content: " ";
  clear: both;
  display: block;
  font-weight: bold;
}

p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

a:-webkit-any-link {
  color: #ADD8E6;
  cursor: pointer;
  text-decoration: underline;
}

ul {
  list-style-type: circle;
  list-style-position: inside;
}

ol {
  list-style-position: inside;
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 100%;
}

.article {
  background: #000000;
  padding: 20px;
  opacity: 0.9;
}

.clearfix::after {
  @apply invisible block;
  content: " ";
  clear: both;
}
