@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    @apply text-white bg-cover bg-repeat;
    background-image: url('/background.webp');
}

html {
    @apply min-h-screen;
}

.logo {
    @apply float-left text-center p-0;
}

.nav-button {
    @apply float-right ;
}

a.nav {
    @apply no-underline text-white;
}

a.nav:hover {
    @apply no-underline;
    color: #bfbfbf;
}

a.nav:active {
    @apply no-underline text-white;
}

button.nav {
    @apply no-underline text-white font-bold;
}

button.nav:hover {
    color: #bfbfbf;
}

a {
    color: #3F47CC;
}

a:hover {
    color: #01A2E8;
}

.containerWidth {
    @apply max-w-screen-xl mx-auto;
}

.container {
    @apply max-w-screen-xl mx-auto;
}

.article a:-webkit-any-link {
    @apply underline cursor-pointer;
    color: #ADD8E6;
}

ul {
    @apply list-inside;
    list-style-type: circle;
}

ol {
    @apply list-inside;
}

.content {
    @apply max-w-full;
    margin-top: 30px;
    margin-bottom: 30px;
}

.article {
    @apply bg-black;
    padding: 20px;
    opacity: 0.9;
}

.article h2 {
    @apply mb-1 font-semibold text-xl;
}

.article h3 {
    @apply mb-1 font-semibold text-lg;
}

.article p {
    @apply mb-1;
}

.clearfix::after {
    @apply invisible block clear-both;
    content: " ";
}
